body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.main-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
/* En css/style.css */
.btn-custom-profile {
    background-color: #ff6600;  /* Color personalizado, por ejemplo, naranja */
    color: white;
    border: none;
}
.btn-custom-profile:hover {
    background-color: #e65c00;
}
