{% extends "base.html" %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100" 
     style="background-image: url('{{ url_for('static', filename='images/500_background.jpg') }}'); background-size: cover; background-position: center;">
  <div class="bg-dark bg-opacity-50 p-4 rounded text-center">
    <h1 class="text-white mb-3">Oops! Something Went Wrong</h1>
    <p class="text-white">There was an error processing your request. Please try again later.</p>
    <a href="{{ url_for('root') }}" class="btn btn-primary mt-3">Return Home</a>
  </div>
</div>
{% endblock %}
